node_modules
npm-debug.log
assets/node_modules
assets/bower_components

assets/tmp
assets/test/tmp

assets/.sass-cache
assets/css/.sass-cache

assets/font-svg/icon/*.svg

menu.command
menu.bat

.idea
.tmp
/assets/__settings__.js
