<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="../node_modules/mocha/mocha.css">
    </head>
    <body>
        <div id="mocha"></div>

        <script src="../node_modules/mocha/mocha.js"></script>
        <script src="../node_modules/chai/chai.js"></script>

<% libsFiles.forEach( function( filePath ){ %>
        <script src="../<%= filePath %>"></script>
<% } ); %>

<% jsSrcFiles.forEach( function( filePath ){ %>
        <script src="../<%= filePath %>"></script>
<% } ); %>

        <script src="../node_modules/blanket/dist/qunit/blanket.js"
                data-cover-only="/js/"
                data-cover-flags="branchTracking"></script>
        <script src="../node_modules/grunt-blanket-mocha/support/mocha-blanket.js"></script>

        <script>
            mocha.ui( "bdd" );
            window.expect = chai.expect;

            if ( window.PHANTOMJS ) {
                blanket.options(
                    "reporter",
                    "../node_modules/grunt-blanket-mocha/support/grunt-reporter.js"
                );
            } else {
                mocha.run();
            }
        </script>

<% testFiles.forEach( function( filePath ){ %>
        <script src="../<%= filePath %>"></script>
<% } ); %>
    </body>
</html>